<header class="navbar navbar-default navbar-fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" ui-sref="home">Mashup</a>
    <button
      type="button"
      class="navbar-toggler"
      data-toggle="collapse"
      data-target="#navbar"
      aria-controls="navbar"
      aria-expanded="false"
      aria-label="Toggle navigation"
      >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="navbar-item" ui-sref-active="active">
          <a class="navbar-link" ui-sref="home">Home</a>
        </li>
        <li class="navbar-item" ui-sref-active="active">
          <a class="navbar-link" ui-sref="qlik-demo">Qlik demo</a>
        </li>
        <li class="navbar-item" ui-sref-active="active">
          <a class="navbar-link" ui-sref="about">About</a>
        </li>
      </ul>
    </div>
  </div>
</header>